<div *ngFor="let item of cartList" class="cart-item">

  <img src="assets/img/{{item.product.image}}">
  <a class="remove-icon noselect" href="#" title="Remove"
          (click)="removeProduct($event, item.product.id)">X</a>
  <p class="strong" title="{{item.product.title}}">
    {{item.product.title}}</p>
  <p>
    x {{item.quantity}}</p>
  <p title="{{item.product.brand}}">
    <small>{{item.product.brand}}</small></p>

  <div class="u-cf"></div>
</div>
<div *ngIf="cartList.length === 0" class="cart-item">
  <br>
  <p>The cart is empty.</p>
  <br>
</div>

<div class="actions">
  <div>
    <p class="u-pull-right">{{total | currency:USD:true}}</p>
    <p>Total</p>
    <div class="u-cf"></div>
  </div>
  <a class="button" routerLink="/cart" (click)="close($event)">View Cart</a>
  <button class="button-primary u-pull-right"
    [disabled]="cartList.length === 0"
    (click)="checkout()">Checkout</button>
  <div class="u-cf"></div>
</div>
