@import "../../scss/skeleton/base/variables";
@import "../../scss/custom-variables";


:host {
  background: #f6f6f6;
  display: block;
}

.subtitle {
  padding: 3em 0;
  text-align: center;
}

.content-table .row {
  font-size:80%;
  background: white;
}

/* Table */

table {
  width: 90%;
  margin: 0 auto 3em auto;
  text-transform: uppercase;

  tr:last-child td {
    border-bottom: none;
  }

  th, td {
    padding: 2em 0;
    text-align: right;
    font-weight: normal;

    &:first-child {
      text-align: left;
    }
  }

  th {
    padding-top: 4em;
  }

  td { vertical-align: top; }

  .product-details {
    img {
      width: 100px;
      float:left;
    }
    p {
      margin-left: 110px;
      margin-bottom: 0;
    }
  }

  .summary td:first-child {
    padding-left: 50%;
    p {
      margin-bottom: 2rem;
    }
  }

  td.cart-empty-text {
    padding: 4em 0;
    text-align: center;
  }

  a.remove-icon {
    font-size: 2rem;
    line-height: 2rem;
    color: $font-color;
    text-decoration: none;

    &:hover {
      color: red;
    }
  }
}





