<header>

  <div class="logo-container">
    <a routerLink="/"><img src="assets/img/logo.png" alt="Storefront" /></a>
  </div>

  <!--<ul class="main-menu">
    <li>
      <a class="navbar-link" routerLink="/">Home</a>
    </li>
    <li>
      <a class="navbar-link" routerLink="/">Shop</a>
    </li>
    <li>
      <a class="navbar-link" routerLink="/">Journal</a>
    </li>
    <li>
      <a class="navbar-link" routerLink="/">More</a>
    </li>
  </ul>

  <div class="cart-menu-container"></div>-->


</header>


<div>
  <router-outlet></router-outlet>
</div>
