<nav class="navbar">

  <div class="logo-container">
    <a routerLink="/"><img src="assets/img/logo.png" alt="Storefront"></a>
  </div>
  <div class="menu-container">

    <a class="nav-link hidden-phone" routerLink="/cart">
      My Cart ({{cartLength}})
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>

    <a class="mobile-menu visible-phone">
      <i class="fa fa-bars" aria-hidden="true"></i></a>

    <cart-popup></cart-popup>
  </div>

  <ul class="main-menu hidden-phone">
    <li>
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/">Shop <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li>
      <a class="nav-link" routerLink="/">Journal</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/">More <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
  </ul>

  <div class="u-cf"></div>
</nav>


<div class="router-wrapper">
  <router-outlet></router-outlet>
</div>
