.breadcrumbs {
  padding: 2em 0;
  text-align: center;
}

img {
  width: 100%;
}

.product-details {
  text-align: center;

  .actions{
    width: 215px;
    margin: 0 auto;
    quantity-selector, button {
      float: left;
    }
    button {
      width: 146px;
      margin-left: 10px;
    }
  }
}
