<div class="image-container">
  <img class="u-max-full-width" src="assets/img/{{product.image}}" alt="{{product.title}}">
  <div class="overlay">
    <div><a class="button button-primary" routerLink="/product/{{product.id}}">View Details</a></div>
    <div><button class="button-primary" (click)="addToCart()">Add To Cart</button></div>
  </div>
</div>
<p class="brand" title="{{product.brand}}">{{product.brand}}</p>
<p class="title" title="{{product.title}}">{{product.title}}</p>
<h6 class="price">{{product.price | currency:'USD':true}}</h6>
