/* Global styles */

@import "./scss/skeleton/base/normalize";
@import "./scss/skeleton/base/variables";
@import "./scss/custom-variables";
@import "./scss/skeleton/base/functions";
@import "./scss/skeleton/base/base-styles";
@import "./scss/skeleton/base/utils";
@import "./scss/skeleton/base/typography";

/* Modules */
@import "./scss/skeleton/modules/grid";
@import "./scss/skeleton/modules/buttons";
// @import "./scss/skeleton/modules/forms";
// @import "./scss/skeleton/modules/lists";
// @import "./scss/skeleton/modules/code";
// @import "./scss/skeleton/modules/tables";
@import "./scss/skeleton/modules/spacing";
@import "./scss/skeleton/modules/media-queries";


h1 {
  font-family: "Times New Roman", Georgia, Serif;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: .2rem;
}

a.nav-link {
  font-weight: 600;
}

a.nav-link:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.hidden-phone {
  @media (max-width: 550px) {
    display: none;
  }
}

.visible-phone {
  display: none;
  @media (max-width: 550px) {
    display: block;
  }
}
